footer.frontend {
    background-color: #000;
    color: #fff;
    border-top: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    /* height: 60px; */
    line-height: 60px;
    padding: 0 20px;
    /* position: fixed; */
    /* bottom: 0; */
    width: calc(100% - 40px);
    z-index: 3;
}